*{
margin: 0;
padding: 0;
box-sizing: border-box; /*da racuna sirinu ne samo elementa vec elementa sa svojim paddingom, borderom i marginom*/
}

body {
color: purple;

}
header {
   
    position: relative;
    height: 120px;
    background-color: purple;
    font-size: 32px;
    font-weight: bold;
    color: white;
    }

    header div {
     z-index: 3;
    position: absolute;
    text-align: left;
    top: 35%;
    width: 100%;
    }

#mainnaslov:hover {
color: red;
}
nav {
margin-bottom: 10px;
}

aside ul {
list-style-type: none;
overflow: hidden;
}


[class*="col-"] img {
max-width: 100%; /*ako je veca od 100%, vraca se na 100%, ako je manja od 100%, nista se ne desava*/
}

[class*="col-"] {
text-align: center;
    }

aside li a {
    text-align: center;
    display: block;
    color: white;
    background-color: purple;
    margin: 10;
    padding: 14 18;
    text-decoration: none;
}

aside li a:hover {
background-color: rebeccapurple;
width: 95%;
}

#mainimg
{opacity: 1;
width: 50%;
}


#mainimg:hover{
opacity: 0.5;
}

#mainimg:active{
width: 25%;
}

/*bitan je redosled, media (izuzeci) idu nakon glavnog taga*/

.row {
display:block;
width:100%; /* i display:block i width:100% ne mora da se kuca zato sto je div vec block.*/
padding: 20px 8px;
}

/*standard za row, pravi razmake izmedju redova*/
.row:before,
.row:after { 
clear:both;
display:table;
content:"";
} 

@media only screen and (min-width: 600px) { /* treba mu bar 600 i primenjuje se, tj. prebaciuje u vertikalni meni*/
aside li {
float: left;
width: 100%;
}

img {
width: 100%;
}
p {
color: red;
}
[class*="col-"] {
float: left;
}

.col-1 {
width: 8.33%;
}

.col-2 {
width: 16.66%;
}

.col-3 {
width: 25%;
}

.col-4 {
width: 33.33%;
}

.col-5 {
width: 41.66%;
}

.col-6 {
width: 50%;
}

.col-7 {
width: 58.33%;
}

.col-8 {
width: 66.66%;
}

.col-9 {
width: 75%;
}

.col-10 {
width: 83.33%;
}
       
.col-11 {
width: 91.66%;
}

.col-12 {
width: 100%;
}
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 30px;
    background-color: purple;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

@media only screen and (max-width: 600px) {
div.row{
display: block;
float: left;
width: 100%;
color: purple;
z-index: 10;
    }

aside {
    width:100%;
    margin:0;
    padding: 0;
    }
}

.fa {
margin-right: 5px;  
}

nav li a:hover {
color: black;
background-color: white;
}

/*Label*/
label {
display: block;
}

#formnaslov {
text-align: center;
}

